@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

h1 {
  color: #444;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

.container {
  width: 100%;
  height: 100%;
}

.container .main {
  width: 600px;
  float: left;
  /*margin-right: 25px;*/
  border-right: 1px solid #F0F0F0;
  height: 100%;
}

.container .main .wall {
  height: 90%;
  max-height: 100%;
}

.container .main .legends {
  overflow: auto;
  margin-bottom: 10px;
  display: none;
}

.container .main .legends div {
  margin: 10px 0;
  float: left;
  width: 50%;
}

.container .main .legends div p {
  font-weight: bold;
}

.container .main ul.legend {
  list-style: none;
  margin-top: 10px;
}

.container .main ul.legend li {
  display: inline-block;
  margin-right: 20px;
}

.container .main ul.legend li input[type="checkbox"] {
  display: none;
}

.container .main ul.legend li label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align:middle;
  margin-right: 8px;
  background-color: #949494;
  border-radius: 2px;
}

li input[type="checkbox"]:checked + label:before {
  background-color: black;
}
li input[type="checkbox"]:checked + label.color-0:before {
  background-color: #40A2DA;
}
li input[type="checkbox"]:checked + label.color-1:before {
  background-color: #33BEB7;
}
li input[type="checkbox"]:checked + label.color-2:before {
  background-color: #AFC222;
}
li input[type="checkbox"]:checked + label.color-3:before {
  background-color: #FDCC2E;
}
li input[type="checkbox"]:checked + label.color-4:before {
  background-color: #F7A126;
}
li input[type="checkbox"]:checked + label.color-5:before {
  background-color: #F56121;
}
li input[type="checkbox"]:checked + label.color-6:before {
  background-color: #DB3937;
}
li input[type="checkbox"]:checked + label.color-7:before {
  background-color: #EE6579;
}
li input[type="checkbox"]:checked + label.color-8:before {
  background-color: #A363DA;
}

li input[type="checkbox"]:checked + label.gray-0:before {
  background-color: #999;
}
li input[type="checkbox"]:checked + label.gray-1:before {
  background-color: #888;
}
li input[type="checkbox"]:checked + label.gray-2:before {
  background-color: #777;
}
li input[type="checkbox"]:checked + label.gray-3:before {
  background-color: #666;
}
li input[type="checkbox"]:checked + label.gray-4:before {
  background-color: #555;
}
li input[type="checkbox"]:checked + label.gray-5:before {
  background-color: #444;
}
li input[type="checkbox"]:checked + label.gray-6:before {
  background-color: #333;
}

.container .sidebar {
  max-width: 500px;
  height: 94%;
  right: 3%;
  bottom: 3%;
  top: 3%;
  margin: 3vw;
  position: absolute;
}

.container .sidebar .postit {
  margin-bottom: 30px;
  color: white;
  font-weight: 200;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 30px;
}

.container .sidebar .postit:before, .container .sidebar .postit:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.container .sidebar .postit:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

.container .sidebar .postit .sub {
  text-transform: uppercase;
}

.container .sidebar .postit h2 {
  font-weight: 600;
  color: #F0F0F0;
  margin-bottom: 10px;
}

.container .sidebar .postit .question {
  margin-top: 10px;
  font-weight: normal;
  font-style: italic;
}

.container .sidebar .header {
  border-bottom: 1px solid #F0F0F0;
  margin: 10px 10px 10px 0;
}

.container .sidebar .related .header h3 {
  /*font-weight: bold;*/
  text-transform: uppercase;
  font-size: 12px;
  color: gray;
}

.container .sidebar .related h1 {
  margin-top: 5px;
  font-weight: bold;
}

.container .sidebar .items {
  overflow: scroll;
  max-height: 400px;
}

.container .sidebar ul.items li {
  padding: 10px;
}

.container .sidebar ul li:nth-child(even) {
  background-color: #F0F0F0;
}
