* {
  margin: 0;
  padding: 0;
}

.postit-container {
  width: 1200px;
  margin: 20px auto 20px auto;
}

.postit-container .main {
  width: 775px;
  float: left;
  margin-right: 25px;
}

.postit-container .main .wall {
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  padding: 0 40px 20px 0;
}

.postit-container .main .legends p {
  margin: 10px 0;
}

.postit-container .main ul.legend {
  list-style: none;
  margin-top: 10px;
}

.postit-container .main ul.legend li {
  display: inline-block;
  margin-right: 20px;
}

.postit-container .main ul.legend li input[type="checkbox"] {
  display: none;
}

.postit-container .main ul.legend li label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align:middle;
  margin-right: 8px;
  background-color: #949494;
  border-radius: 2px;
}

li input[type="checkbox"]:checked + label:before {
  background-color: black;
}
li input[type="checkbox"]:checked + label.color-0:before {
  background-color: #EA0B8C;
}
li input[type="checkbox"]:checked + label.color-1:before {
  background-color: #896BDD;
}
li input[type="checkbox"]:checked + label.color-2:before {
  background-color: #F79520;
}
li input[type="checkbox"]:checked + label.color-3:before {
  background-color: #8EC640;
}
li input[type="checkbox"]:checked + label.color-4:before {
  background-color: #7AE63E;
}
li input[type="checkbox"]:checked + label.color-5:before {
  background-color: #0E76BC;
}
li input[type="checkbox"]:checked + label.color-6:before {
  background-color: #EA376F;
}
li input[type="checkbox"]:checked + label.color-7:before {
  background-color: #70C5C6;
}
li input[type="checkbox"]:checked + label.color-8:before {
  background-color: #FFFFA5;
}

.postit-container .sidebar {
  float: left;
  width: 400px;
  overflow: scroll;
  max-height: 600px;
}

.postit-container .sidebar .items {
  margin-top: 10px;
  list-style: none;
}

.postit-container .sidebar .items li {
  padding: 10px;
}

.postit-container .sidebar ul li:nth-child(even) {
  background-color: #F0F0F0;
}

body {
  background-color: white;
  font-family: "PT Sans", sans-serif;
}

h3 {
  font-weight: normal;
}
