* {
  margin: 0;
  padding: 0;
}

.postit-container {
  width: 1200px;
  margin: 20px auto 20px auto;
}

.postit-container .main {
  width: 775px;
  float: left;
  margin-right: 25px;
}

.postit-container .main .wall {
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  padding: 0 40px 20px 0;
}

.postit-container .main ul.legend {
  list-style: none;
}

.postit-container .main ul.legend li {
  display: inline-block;
  margin-right: 20px;
}

.postit-container .main ul.legend li input {
  margin-right: 5px;
}

.postit-container .sidebar {
  float: left;
  width: 400px;
  overflow: scroll;
  max-height: 600px;
}

.postit-container .sidebar .items {
  margin-top: 10px;
  list-style: none;
}

.postit-container .sidebar .items li {
  padding: 10px;
}

.postit-container .sidebar ul li:nth-child(even) {
  background-color: #F0F0F0;
}

body {
  background-color: white;
  font-family: "PT Sans", sans-serif;
}

h3 {
  font-weight: normal;
}
